{% extends "base.html.twig" %}

{%block body%}
<!DOCTYPE html>
<html>
    <h1> Welcome </h1>
    
    <div style="width: 90%; margin-left: 5%; margin-right:10%" background-color="" type="button" class="btn btn-outline-danger" >  
    <a href="{{ path('compta_session') }}" /> Comptable</a><br>
    </div>
    <div style="width: 90%; margin-left: 5%; margin-right: 10%" type="button" class="btn btn-outline-danger" >  
        <a href="{{ path('visiteur_connect') }}" />Visiteur</a><br>
     </div>
</body>
</html>
{% endblock %}
