{% extends "base.html.twig" %}
{% block title %}
Formulaire Connexion Comptable
{% endblock %}
{% block menuC %}

    <style>
        .nav1{
            float: top;
            width: 100%;
            margin : auto;
                    
            
        }
        
    </style>
 
           
    <div class="nav1" >
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">GSB</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

              <li class="nav-item">
                <a class="nav-link" href="{{ path('Vff') }}">Valider Fiche Frais</a>
              </li>
            </ul>
          </div>
          <div>
              {{app.session.get('nom')}}<br>{{app.session.get('prenom')}}<br>
          </div>
          <div style="float: right" type="button" class="btn btn-outline-danger" >  
              <a href="{{ path('accueil') }}" >Déconexion</a>
          </div>
        </nav>
    </div>
        
    {% endblock %}
